.bg_image--35 {
  // background-image: url(/assets/images/bg/bg-image-37a.png);
  background-image: url(/assets/images/bg/bg-image-36.jpg);
}

.bg_image--36 {
  background-image: url(/assets/images/bg/bg-image-37.png);
    // background-image: url(/assets/images/bg/bg-image-37a.png);
  // background-image: url(/assets/images/bg/bg-image-32.png) 
}


.breadcrumb-inner {
  text-align: center;
  h2{
      &.title{
          background: #f8be01;
          background: linear-gradient(145deg, #f9cb00 0%, #c49704 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
      }
  }
  ul{
      &.page-list {
          @extend %liststyle;
          li{
              display: inline-block;
              color: #fff;
              a{
                  color: #fff;
              }
              &.breadcrumb-item{
                  &.active{
                      color: #f9cb00;
                  }
              }
          }
      }
  }
}

.rn-address .icon {
  color: #f9cb00; 

}

.title.theme-gradient {
  background: #fff;
  background: linear-gradient(145deg, #ffffff 0%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-left .inner h2 {
  font-family: $heading-font;
}

.backto-top > div {
  background-color: #000;
  border: 2px solid $theme-color;
  line-height: 41px;
  svg {
    color: #ffffff;
  }
}

.closeTrigger svg {
  color: black;
}

.error-form {
  border: 2px solid #f9cb00!important;

  //background gradient fill effect for error on form field.

	// flex-shrink: 0;
	// border: calc(8px + 0.2vw) solid transparent;
	// background-origin: border-box;
	// background-size: cover;
	// box-sizing: border-box;
	// box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
	// border-radius: 50%;
  // background-image: linear-gradient(to top right, #f9cb00, #ffc107, #ffc107);
  // color: black!important;
}

.footer-logo {
  max-width: 175px;
}

.error-page-inner {
  &:before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.35;
    background-image: url(/assets/images/bg/finding-us-38b.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    background-size: cover;
  }
}

.footer-style-2.bg_image--1 {
  // background-image: url(/assets/images/bg/bg-image-32.png);
  background-image: initial;
  background-color: black;
}

.service-area.bg_image.bg_image--3 {
  position: relative;
  &:before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.35;
    background-image: url(/assets/images/bg/bg-image-37.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    background-size: cover;
  }
}

a.about-link {
  
  .about-inner .section-title p.description &{
    color: white;
    &:hover {
      color: #f9cb00;
    }
  }

}